name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
      - uses: EndBug/add-and-commit@v9
        with:
          message: Build PDF
          committer_name: LaTeX PDF Builder
          add: main.pdf
